name: Lint

on:
  pull_request:
  push:
    branches:
      - main

jobs:
  eslint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: 25.4.0
      - name: Setup pnpm
        uses: pnpm/action-setup@v4.2.0
        with:
          version: 10.6.4
          run_install: true
      - name: Run ESLint
        run: pnpm lint
